/*------------------------------------
  Default Styles
------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #1e2022;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

main {
  position: relative;
  overflow: hidden;
}
